.s {
  border: 1px solid red;
}
.s-bg {
  background-color: red;
}
.hidePoints {
  display: none;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  -webkit-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}
.preloader .loader {
  width: 500px;
  height: 175px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/logo_bg.png) center no-repeat;
  -webkit-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}
.preloader .loader:before {
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateX(-500px) skewX(-45deg);
          transform: translateX(-500px) skewX(-45deg);
  -webkit-animation: loading 2s infinite ease-in-out;
          animation: loading 2s infinite ease-in-out;
}
.preloader .loader.loading_done1 {
  opacity: 0;
  visibility: hidden;
}
.preloader.loading_done2 {
  opacity: 0;
  visibility: hidden;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: translateX(-500px) skewX(-45deg);
            transform: translateX(-500px) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(1500px) skewX(-45deg);
            transform: translateX(1500px) skewX(-45deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: translateX(-500px) skewX(-45deg);
            transform: translateX(-500px) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(1500px) skewX(-45deg);
            transform: translateX(1500px) skewX(-45deg);
  }
}
.nav-bar {
  border-bottom: 2px solid #0099ff;
  background-color: #ffffff;
  padding: 20px 0;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
}
.menu-line a {
  text-decoration: none;
}
.menu-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-left: 20px;
  color: #3a3a3a;
}
.menu-txt:hover {
  color: #66c2ff;
}
.active-page {
  color: #0099ff;
}
h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: #1c1c1c;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #1c1c1c;
  font-style: bold;
  margin-bottom: 0px;
  background-color: #ffffff;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #3a3a3a;
  font-style: bold;
}
.section-1 {
  margin-top: 50px;
  background-image: url(../img/bg_for_main.png);
  background-position: top left;
  background-repeat: no-repeat;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.main-text-row {
  min-height: 630px;
}
.main-text-block .stick_1:before {
  content: "";
  position: absolute;
  left: -10px;
  width: 3px;
  height: 100px;
  background: #0099ff;
  border-radius: 5px;
}
.main-text-block .stick_2:before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 15px;
  width: 3px;
  height: 100px;
  background: #0099ff;
  border-radius: 5px;
}
.divider1 {
  z-index: 200;
  width: 100%;
  height: 10px;
  background-color: #0099ff;
}
.head-1 {
  text-align: center;
}
.head-2 {
  text-align: left;
}
.examples {
  text-align: center;
}
.picture_for_contacts {
  text-align: center;
  margin: auto 0;
}
.section {
  padding: 60px 0;
}
.open-line {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #0099ff;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  z-index: -100;
}
.open-line_predok {
  position: relative;
  margin-bottom: 50px;
}
.open-line_predok_1 {
  margin: 20px 0px 0 0px;
}
.open-line_contacts {
  margin-left: 10%;
  width: 90%;
  position: absolute;
  top: 50%;
  height: 1px;
  background: #0099ff;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  z-index: -100;
}
.work-examples {
  padding-bottom: 50px;
}
.example-pic {
  text-align: center;
}
.example-pic img {
  outline: none;
  display: inline-block;
  width: 95%;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
  margin: 20px 0;
}
.btn {
  background-color: #ffffff;
  border: 1px solid #0099ff;
  border-radius: 0px;
  width: 200px;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #0099ff;
}
.btn:hover {
  background-color: #0099ff;
  color: #ffffff;
}
.btn_long {
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn_long:hover {
  background-color: #0099ff;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 250px;
}
.service-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service-box {
  position: relative;
  width: 400px;
  min-height: 550px;
  border: 1px solid #0099ff;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
  padding: 25px;
  margin: 30px auto;
  text-align: center;
}
.service-box-pic {
  width: 350px;
  height: 350px;
  border: 1px solid #7f7f7f;
  margin: 0 auto;
  margin-bottom: 25px;
}
.service-box-pic-1 {
  background-image: url(../img/examples/3.jpg);
}
.service-box-pic-2 {
  background-image: url(../img/examples/4.jpg);
}
.service-box-pic-3 {
  background-image: url(../img/examples/5.jpg);
}
.service-box-pic-4 {
  background-image: url(../img/examples/6.jpg);
}
.service-box-name {
  text-align: center;
  margin-bottom: 0;
}
.service-box-line {
  display: inline-block;
  width: 300px;
  height: 1px;
  background-color: #0099ff;
  margin: 20px 0;
}
.service-box-btn {
  display: inline-block;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.service-box-btn:hover {
  background-color: #0099ff;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 300px;
}
.editing-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.editing-sliders-box {
  width: 400px;
  margin: 0 auto;
}
.contact_pic {
  width: 200px;
  display: block;
  margin: auto;
}
.line-or {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #0099ff;
}
form {
  margin-top: 20px;
}
input {
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: 1px solid #9b9b9b;
  color: #9b9b9b;
}
input:hover {
  border-color: #0099ff;
}
textarea {
  padding: 10px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: 1px solid #9b9b9b;
  color: #9b9b9b;
}
textarea:hover {
  border-color: #0099ff;
}
.link_vk_btn-md {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.link_vk_btn-md::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 20px;
  background: red;
}
.link_inst_btn-md {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.form_name {
  width: 100%;
  margin-bottom: 20px;
  height: 45px;
}
.form_date {
  width: 100%;
  height: 45px;
}
.form_email {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
}
.form_textarea-xs {
  display: none;
  width: 100%;
  height: 100px;
  resize: none;
  margin-bottom: 20px;
}
.form_textarea-md {
  width: 100%;
  height: 100%;
  resize: none;
}
.form_btn-xs {
  display: none;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form_btn-xs:hover {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form_btn-md {
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.form_btn-md:hover {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
::-webkit-inner-spin-button {
  display: none;
}
.footer {
  padding: 30px;
  background-color: #0099ff;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
.footer-main-text {
  text-align: center;
}
.footer-link-pic-vk {
  height: 17px;
  margin-right: 20px;
}
.footer-link-pic-inst {
  height: 20px;
}
.footer-email {
  text-align: right;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #0099ff;
}
.nav-link:hover {
  color: #0099ff;
}
.modal-dialog-portfolio {
  min-width: 20%;
}
.modal-content-portfolio {
  padding-top: 13px;
  padding-bottom: 10px;
}
.serias {
  padding: 15px;
}
.btn-img-series {
  background-blend-mode: overlay;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  width: 300px;
  height: 450px;
  color: transparent;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}
.btn-img-series:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
}
.flex-container_portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 0 15px 0 15px;
}
.flex-container-pic-of-serias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex-item-pic-of-serias {
  margin-bottom: 20px;
}
.flex-item-pic-of-serias:last-child {
  margin-bottom: 0;
}
.img-of-serias {
  width: inherit;
}
.portfolio {
  padding-top: 155px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  padding-bottom: 20px;
}
.portfolio-slicks {
  padding-bottom: 20px;
}
.h1-portfolio-section {
  padding-left: 10px;
  margin-bottom: 0px;
}
.divider-2 {
  height: 1px;
  width: 100%;
  background-color: #0099ff;
  margin-bottom: 40px;
}
.h2-portfolio-section {
  margin-top: 40px;
}
h2 .a1 {
  text-decoration: none;
  color: #0099ff;
}
h2 .a1:hover {
  color: #0099ff;
}
.all-services {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.body-services {
  padding-top: 70px;
}
.h3-services {
  color: #828282;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.h2-services {
  color: #828282;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.p-services {
  color: #a0a0a0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-top: 20px;
}
@-webkit-keyframes move-light {
  from {
    -webkit-transform: translateX(-60px) skewX(-45deg);
            transform: translateX(-60px) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(460px) skewX(-45deg);
            transform: translateX(460px) skewX(-45deg);
  }
}
@keyframes move-light {
  from {
    -webkit-transform: translateX(-60px) skewX(-45deg);
            transform: translateX(-60px) skewX(-45deg);
  }
  to {
    -webkit-transform: translateX(460px) skewX(-45deg);
            transform: translateX(460px) skewX(-45deg);
  }
}
.service-btn {
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}
.service-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 110%;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateX(-60px) skewX(-45deg);
          transform: translateX(-60px) skewX(-45deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.service-btn:hover {
  border: none;
}
.service-btn:hover:before {
  -webkit-animation: move-light 0.5s;
          animation: move-light 0.5s;
}
.service-block {
  min-height: 400px;
}
.service-pic {
  height: 400px;
  width: 400px;
  background-color: white;
  display: block;
  margin: 0 auto;
  background-position: left -30px;
  background-size: 101%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.service-pic:before {
  content: "";
  width: 140px;
  height: 1px;
  position: absolute;
  left: 75px;
  background-color: transparent;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  border-top: 400px solid white;
  border-right: 75px solid transparent;
}
.service-pic:after {
  content: "";
  width: 140px;
  height: 1px;
  position: absolute;
  right: 75px;
  background-color: transparent;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-bottom: 400px solid white;
  border-left: 75px solid transparent;
}
.service-block:hover .h3-services {
  color: #1c1c1c;
}
.service-block:hover .h2-services {
  color: #1c1c1c;
}
.service-block:hover .p-services {
  color: #3a3a3a;
}
.service-block:hover .service-btn {
  width: 300px;
  color: #ffffff;
  background-color: #0099ff;
}
.service-block:hover .white-square {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  background-color: rgba(255, 255, 255, 0);
}
.service-block:hover .service-pic {
  background-size: 100%;
}
.service-block:hover .service-pic:before {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 100px;
}
.service-block:hover .service-pic:after {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 100px;
}
.service-block:hover .gift-card-img {
  -webkit-transform: rotateY(8deg);
          transform: rotateY(8deg);
}
.white-square {
  position: absolute;
  height: 400px;
  width: 500px;
  top: center;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}
.gift-card {
  width: 400px;
  height: 400px;
  line-height: 400px;
  display: block;
  margin: 0 auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: left 30%;
          perspective-origin: left 30%;
  text-align: center;
}
.gift-card-img {
  width: 400px;
  vertical-align: middle;
  -webkit-transform: rotateY(-13deg);
          transform: rotateY(-13deg);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.modal-body-services {
  border-bottom: 1px solid #dee2e6;
}
.p-services-modal {
  margin-bottom: 0;
}
.flex-con-for-buttons-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.btn-services-modal {
  background-color: #0099ff;
  position: relative;
  overflow: hidden;
  border: none;
  color: white;
  width: 30%;
  height: 40px;
}
.btn-services-modal:before {
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateX(-160px) skewX(-45deg);
          transform: translateX(-160px) skewX(-45deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.btn-services-modal:hover {
  border: none;
}
.btn-services-modal:hover:before {
  -webkit-animation: move-light 0.5s;
          animation: move-light 0.5s;
}
.ready-text-block {
  margin: 10px 0 15px 0;
  width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px 15px;
  color: #a0a0a0;
}
#btn-send-mssg-wu {
  width: 250px;
}
.checkbox-services {
  font-size: 15px;
}
.form_name-services {
  width: 250px;
  margin-bottom: 0;
}
.form_date-services {
  width: 140px;
}
#my-alert {
  position: fixed;
  bottom: 0px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 1500;
  width: 200px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
  padding: 12px 20px;
}
span#btn-open-std-list {
  color: #006bb3;
}
span#btn-open-std-list:hover {
  cursor: pointer;
  text-decoration: underline;
}
.info-about-order {
  color: #878787;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
@media only screen and (min-width: 1520px) {
  /*760 и больше*/
  .footer-main-text br {
    display: none;
  }
}
@media only screen and (max-width: 1520px) {
  /*760 и меньше*/
  .footer-main-text span {
    display: none;
  }
  .menu-txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
  }
  .open-line,
  .logo-pic {
    display: none;
  }
  .block-of-menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu-txt {
    margin: 0;
  }
  .section {
    padding: 30px 0;
  }
  .divider1 {
    height: 6px;
  }
  .open-line_predok {
    margin-bottom: 15px;
  }
  .work-examples {
    padding-bottom: 30px;
  }
  .service-box {
    margin: 20px 0;
  }
  .portfolio {
    padding-top: 100px;
  }
  .p-services {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }
  .body-services {
    padding-top: 60px;
  }
  .white-square {
    display: none;
  }
  .service-pic:before,
  .service-pic:after,
  .service-pic {
    display: none;
  }
  .gift-card {
    display: none;
  }
  .h3-services {
    color: #1c1c1c;
  }
  .h2-services {
    color: #1c1c1c;
  }
  .p-services {
    color: #3a3a3a;
  }
}
/*старое*/
@media only screen and (max-width: 1520px) {
  .section-1 {
    background-image: none;
  }
  .main-text-row {
    min-height: 0px;
    padding: 60px 0 50px 0;
  }
  .main-text-block .stick_1:before {
    height: 120px;
  }
  .main-text-block h1 {
    margin-right: 0;
    text-align: center;
  }
  .picture_for_contacts {
    display: none;
  }
  .head-2 {
    text-align: center;
  }
  .editing-sliders-box-2 {
    display: none;
  }
  .form_btn-xs {
    display: block;
    width: 100%;
    background-color: #0099ff;
    color: #ffffff;
  }
  .form_btn-md {
    display: none;
  }
  .form_textarea-xs {
    display: block;
  }
  .form_textarea-md {
    display: none;
  }
  .open-line_contacts {
    display: none;
  }
  .open-line_predok_1 {
    margin-right: 20px;
    margin-left: 20px;
  }
  form {
    padding: 0 20px;
  }
  .link_buttons {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1520px) {
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}
