#nav_dropdown_white_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #ffffff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(#ffffff 75%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}
nav {
  z-index: 10;
  position: relative;
  padding-top: 25px;
  width: 100%;
  height: 150px;
}
nav #nav_gradient {
  position: absolute;
  width: inherit;
  height: 115px;
  background: radial-gradient(circle farthest-corner at 400px 50px, #ff0000, #ffc800);
  z-index: -1;
}
nav #nav_white {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1150px;
  height: 128px;
  background-color: #fff;
}
nav #nav_logo img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 120px;
}
nav #nav_menu {
  position: absolute;
  left: 50%;
  top: 115px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Vin', sans-serif;
}
nav #nav_menu a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
  z-index: 10;
}
nav #nav_menu a:hover {
  color: #FF6600;
}
nav #nav_menu .active_page {
  cursor: default;
  color: red !important;
}
nav #nav_menu .active_page_portf {
  cursor: pointer;
}
nav #nav_menu_works {
  position: relative;
  /*при наведении на "работы"*/
}
nav #nav_menu_works #nav_menu_works_head {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: default;
}
nav #nav_menu_works ul {
  z-index: 9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  color: black;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  top: 0;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
nav #nav_menu_works ul li {
  margin-bottom: 0px;
}
nav #nav_menu_works:hover #nav_menu_works_head {
  visibility: hidden;
  opacity: 0;
}
nav #nav_menu_works:hover ul {
  visibility: visible;
  opacity: 1;
}
footer {
  margin-top: 60px;
  padding-bottom: 50px;
}
footer a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
footer h4 {
  font-weight: 400;
  line-height: 1.4;
}
/* FONTS */
h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
}
h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
@font-face {
  font-family: 'Vin';
  src: url(../fonts/19219.ttf);
  font-weight: normal;
  font-style: normal;
}
