main{
	margin-top:70px;
	margin-bottom:70px;
}
h1{
	font-weight:600;
}

.year{
	margin-top: 70px;
	text-align:center;
	.work-examples{
		width:100%;
		margin-bottom:80px;position:relative;
		margin-top:50px;
		&:before{
			content: "";
			position: absolute;
			width:200px;
			height:500px;
			left:0;
			z-index:15;
			background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 25%,rgba(255,255,255,0) 100%); 
		}
		&:after{
			content: "";
			position: absolute;
			width:200px;
			height:500px;
			right:0;
			top:0;
			z-index:15;
			background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 25%,rgba(255,255,255,0) 100%); 
		}
		.slick-dots {
			bottom: -40px;
			li {
				margin: 0 20px 0 20px;
			}
		}

	}
	img{
		height:400px;
		
		margin: 0 60px;
	}

	.slick-prev:before, .slick-next:before {
		display:hidden;
	    color: white;
	}
	h3{
		font-weight:300;
		font-size: 20px;
	}
}