.s{
	border: 2px solid red;
}
.s-bg {
  background-color: red;
}
.row a {
  text-decoration: none;
}
h1{
	.mont(24px);
  	font-weight: bold;
  	line-height: 1.5;
}
/*SPECIAL*/
.box-shadow(){
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
}
/*COLORS*/
@white: rgba(255,255,255,1);
@white15: rgba(255,255,255,0.15);
@white95: rgba(255,255,255,0.9);
@black-light:#3a3a3a;
@black-dark:#1c1c1c;
@grey:#e6e6e6;
/*FONTS*/
.mont(@size){
	font-family: 'Montserrat', sans-serif;
  	font-size: @size;
}
.mont-alt(@size){
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: @size;
}
.mont-alt-bold(@size){
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: @size;
	font-weight: bold;
}
//////////////////////////////////////////////**/
nav/*NAVBAR*/{
	.logo-pic{
		.nav-bar-logo{
			line-height: 70px;
		}
		a{
			font-family: 'Montserrat Alternates', sans-serif;
			font-size: 18px;
			font-weight: bold;
			color: #FFF !important;
		}
	}
	.nav-bar{
		z-index: 10;
		.box-shadow();
	}
 	
	.active-page{
		a{
			color:@white;
		}
		&:before{
    		width:47px;
    	}
	}
 	ul {
        .mont(0px);
        font-size: 0;
        display: table;
        margin-bottom:0;
		li {
	        display : inline-block;
	        width : 170px;
	        height: 70px;
	        line-height: 70px;
	        font-size: 14px;
	        color: @white95 !important;
	        border-left: 1px solid @white;
	        text-align: center;
			position:relative;
	        .point {
	        	border-top:0;
	        	border-bottom: 1px solid @grey;
	        	color: @black-dark;
	        	transition: all 0.7s;
	        	&:hover{
	        		background-color: #f5f5f5;
	        	}
	        	&-f{
					box-shadow: 0 6px 4px -4px rgba(0,0,0,0.3) inset;
	        	}
	        }
	    	&:last-child {
	    		border-right: 1px solid @white;
	    	}
	    	&:before{
	    		content:"";
	    		position:absolute;
	    		width:0px;
	    		height:1px;
	    		background-color:@white95;
	    		top:47px;
	    		transform: translateX(-50%);
	    		transition:all 0.2s ease-in-out;
	    		z-index:-1;
	    	}
	    	&:hover:before{
	    		width:47px;
	    	}
	    }
	}
	a{
		color:@white95;
		&:hover{
			color:@white;
		}
	}
	.dropdown{
	    position: relative;
	    z-index:10;
		&:hover {
			.list{
			    display: block;
			    opacity: 1;
		    	visibility: visible;
		    }
		}
		&:before{
			content: "";
			position: absolute;
			width:170px;
			height:0px;
			left:0;
			top:70px;
			background-color: @white;
	    	transition: all ease-in-out 0.2s;
		}
	}
	.list{
		display: hidden;
	    position: absolute;
	    opacity: 0;
	    visibility: hidden;
	    width: 168px;
		.box-shadow();
		background-color: white;
		transition: all 0.7s;
	}

}
.examples/*Slick Slider*/{
	.work-examples{
		width: 600px;
		height: 400px;
		line-height: 400px;
	    text-align: center;
	    padding-bottom: 50px;
	}
	.example-pic{
		text-align: center;
		img{
			vertical-align: middle;
			outline: none;
			display: inline-block;
			width: 95%;
			-webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
			      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
			margin: 20px 0;
		}
	}
	.examples{
		padding: 20px 0;
	}
}
.section-1 {
  	margin-top: 50px;
  	h1{
  		span{
  			font-size:26px;
  			position:relative;
  			color:white;
  			&:last-child{
  				word-spacing: 20px;
  			}
  			.wcgradient{
  				position:absolute;
  				width:115%;
  				height:130%;
  				z-index:-12;
  				top:50%;
  				left:50%;
  				transform: translate(-51%, -50%);
  				border-radius: 5px 20px 5px 20px;
  				opacity:0.7;
  				background: linear-gradient(30deg, #E100FF 0%, #7F00FF 100%);
  			}
  		}
  	}
 }

.footer{
	background: linear-gradient(30deg, #E100FF 0%, #7F00FF 100%);
	padding: 30px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
.footer-main-text {
	text-align: center;
}

.gradientfornav1{
	height:70px;
	width: 100%;
	position:absolute;
	background: linear-gradient(30deg, #E100FF 0%, #7F00FF 100%);
	transition:all 6s;
	opacity:0;
	z-index:-5;
}
.gradientfornav2{
	height:70px;
	width: 100%;
	position:absolute;
	background: linear-gradient(210deg, #E100FF 0%, #7F00FF 100%);
	transition:all 6s;
	opacity:1;
	z-index:-5;
}
.gradientfornav3{
	height:70px;
	width: 100%;
	position:absolute;
	transition:all 6s;
	opacity:1;
	z-index:-15;
}
.block{
	margin:70px 0;
	width:100%;
	.work-examples{
		margin-bottom:80px;
		position:relative;
		margin-top:50px;
		font-family: 'Montserrat', sans-serif;/* 
		&:before{
			content: "";
			position: absolute;
			width:200px;
			height:500px;
			left:0;
			z-index:15;
			background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 25%,rgba(255,255,255,0) 100%); 
		}
		&:after{
			content: "";
			position: absolute;
			width:200px;
			height:500px;
			right:0;
			top:0;
			z-index:15;
			background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 25%,rgba(255,255,255,0) 100%); 
		} */
		.slick-dots {
			bottom: -40px;
			li {
				margin: 0 20px 0 20px;
			}
		}

	}
	img{
		height:400px;
		margin:0 auto;
	}

	.slick-prev:before, .slick-next:before {
		display:hidden;
	    color: white;
	}
}