main {
  padding-top: 60px;
}
.game-block {
  position: relative;
  width: 90%;
  min-height: 200px;
  margin: 0px auto;
  padding: 30px;
}
.game-block .game-info {
  width: 60%;
  display: inline-block;
}
.game-block .game-pic {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
  height: 140px;
  width: 140px;
}
.game-block .button-open-game {
  display: inline-block;
  border-radius: 999px;
  padding: 5px 20px;
  padding-top: 0px;
  cursor: pointer;
  color: #383838;
  border: 1px solid #383838;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 10px;
  font-size: 24px;
}
.game-block .button-open-game:hover {
  color: #FF6600;
  border-color: #FF6600;
}
.game-block a {
  text-decoration: none;
}
.game-block h1 {
  font-family: 'Vin';
}
.game-block p {
  font-family: 'Montserrat';
}
