main {
  margin-top: 60px;
  text-align: center;
}
h2 {
  margin-bottom: 30px;
  font-family: 'Vin';
  font-weight: 550;
  font-size: 30px;
}
#game_field {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 500px;
  width: 500px;
  height: 500px;
  margin: 50px auto;
  line-height: 0;
}
#game_field #white_cover {
  z-index: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 500px;
  height: 500px;
  background-color: white;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #131313;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
#game_field #white_cover #sumTab {
  opacity: 0;
}
#game_field #white_cover h1 {
  margin-top: 100px;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
#game_field #white_cover table.text {
  width: 100%;
  /* Ширина таблицы */
  border-spacing: 0;
  /* Расстояние между ячейками */
}
#game_field #white_cover table.text td {
  width: 50%;
  /* Ширина ячеек */
  vertical-align: top;
  /* Выравнивание по верхнему краю */
  height: 30px;
  padding-left: 3px;
}
#game_field #white_cover td.rightcol {
  /* Правая ячейка */
  text-align: right;
  /* Выравнивание по правому краю */
}
#settings {
  position: relative;
}
#settings .settings {
  display: inline-block;
  cursor: pointer;
  width: 120px;
  padding: 8px 20px;
  padding-bottom: 11px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #636363;
  color: #636363;
  margin: 0 20px;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#settings .settings:hover {
  color: #FF6600;
  border-color: #FF6600;
}
#button_start {
  position: absolute;
  left: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 400px;
  font-size: 30px;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 23px;
  border: 2px solid gray;
  cursor: pointer;
  background-color: #fff;
  border-radius: 100px;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
#button_start:hover {
  color: #FF6600;
  border-color: #FF6600;
}
#button_stop {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 24px;
  width: 150px;
  padding-top: 5px;
  padding-bottom: 8px;
  border: 2px solid gray;
  background-color: #fff;
  border-radius: 100px;
}
#button_stop:hover {
  color: red;
  border-color: red;
}
#timer {
  position: absolute;
  left: 50%;
  top: 350px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 200px;
  opacity: 0;
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#timer span {
  font-size: 40px;
  position: relative;
}
#timer span #plustwo {
  position: absolute;
  display: inline-block;
  font-size: 38px;
  color: #88e200;
  top: 0;
  left: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
#timer span #minustwo {
  position: absolute;
  display: inline-block;
  font-size: 38px;
  color: red;
  top: 0;
  left: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.active {
  border-color: red !important;
  color: red !important;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.square {
  background-color: #fff;
  width: 123px;
  height: 123px;
  margin-right: 2px;
  margin-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
