main {
  margin-top: 70px;
  margin-bottom: 70px;
}
main .event-block {
  width: 90%;
  min-height: 300px;
  margin: 50px auto;
  padding: 40px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
main .event-block img {
  width: 100%;
}
main .event-block table.text {
  width: 100%;
  /* Ширина таблицы */
  border-spacing: 0;
  /* Расстояние между ячейками */
  font-size: 18px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}
main .event-block table.text td {
  width: 80%;
  /* Ширина ячеек */
  vertical-align: top;
  /* Выравнивание по верхнему краю */
}
main .event-block td.rightcol {
  /* Правая ячейка */
  text-align: right;
  /* Выравнивание по правому краю */
}
h1 {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Vin', sans-serif;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
