.mont10{
	font-family: 'Montserrat', sans-serif;
  	font-size: 10px;
}
.mont12{
	font-family: 'Montserrat', sans-serif;
  	font-size: 12px;
}
.mont14{
	font-family: 'Montserrat', sans-serif;
  	font-size: 14px;
}
.mont16{
	font-family: 'Montserrat', sans-serif;
  	font-size: 16px;
}
.mont18{
	font-family: 'Montserrat', sans-serif;
  	font-size: 18px;
}
.mont20{
	font-family: 'Montserrat', sans-serif;
  	font-size: 20px;
}
.mont22{
	font-family: 'Montserrat', sans-serif;
  	font-size: 22px;
}

.mont24{
	font-family: 'Montserrat', sans-serif;
  	font-size: 24px;
}
.mont26{
	font-family: 'Montserrat', sans-serif;
  	font-size: 26px;
}
.mont28{
	font-family: 'Montserrat', sans-serif;
  	font-size: 28px;
}
.mont30{
	font-family: 'Montserrat', sans-serif;
  	font-size: 30px;
}


.alt-mont10{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 10px;
}
.alt-mont12{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 12px;
}
.alt-mont14{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 14px;
}
.alt-mont16{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 16px;
}
.alt-mont18{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 18px;
}
.alt-mont20{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 20px;
}
.alt-mont22{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 22px;
}

.alt-mont24{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 24px;
}
.alt-mont26{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 26px;
}
.alt-mont28{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 28px;
}
.alt-mont30{
	font-family: 'Montserrat Alternates', sans-serif;
  	font-size: 30px;
}