main {
  padding: 50px 0;
}
main a {
  cursor: default;
  color: #2B2B2B;
}
main a:hover {
  color: #2B2B2B;
}
main .flex-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
main h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 22px;
  font-weight: 600;
}
main h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.person-block {
  position: relative;
  height: 150px;
  width: 530px;
  border-radius: 150px;
  margin: 60px auto;
}
.person-block img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1 !important;
  border-radius: 150px;
  transition: all 0.5s;
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}
.person-block:hover {
  cursor: pointer;
}
.person-block:hover img {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.55);
}
.person-block:hover .gradient {
  opacity: 0.25;
  background: linear-gradient(60deg, #ff00ff 0%, #0000ff 100%);
  cursor: pointer;
}
.person-block:hover .addgradient1 {
  opacity: 0.55;
}
.person-block:hover .addgradient2 {
  opacity: 0;
}
.person-block .gradient {
  position: absolute;
  top: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  border-radius: 150px;
  opacity: 0.08;
  transition: all 0.7s ease-in-out;
  background: linear-gradient(30deg, #ff00ff 0%, #0000ff 100%);
}
.person-block .addgradient1 {
  position: absolute;
  top: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  border-radius: 150px;
  opacity: 0.01;
  transition: all 0.7s ease-in-out;
  background: linear-gradient(200deg, #ff00ff 20%, #0000ff 100%);
}
.person-block .addgradient2 {
  position: absolute;
  top: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  border-radius: 150px;
  opacity: 0.45;
  transition: all 0.7s ease-in-out;
  background: linear-gradient(60deg, #ff00ff 0%, #0000ff 100%);
}
.person-block .text {
  width: 300px;
  height: 150px;
  padding: 35px 0;
  margin-left: 180px;
}
.person-block .add {
  color: white;
  position: relative;
  height: 150px;
  width: 530px;
  text-align: center;
  display: inline-block;
}
.person-block .addplus {
  color: white;
  position: absolute;
  height: 150px;
  width: 150px;
  line-height: 150px;
  display: inline-block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
}
.person-block .add h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 150px;
}
