.s {
  border: 2px solid red;
}
.s-bg {
  background-color: red;
}
.row a {
  text-decoration: none;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: normal;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
}
/*SPECIAL*/
/*COLORS*/
/*FONTS*/
nav .logo-pic .nav-bar-logo {
  line-height: 70px;
}
nav .logo-pic a {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFF !important;
}
nav .nav-bar {
  z-index: 10;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
}
nav .active-page {
  background-color: rgba(255, 255, 255, 0.15);
}
nav .active-page a {
  color: #ffffff;
}
nav ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 0px;
  font-size: 0;
  display: table;
  margin-bottom: 0;
}
nav ul li {
  display: inline-block;
  width: 170px;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9) !important;
  border-left: 1px solid #ffffff;
  text-align: center;
}
nav ul li .point {
  border-top: 0;
  border-bottom: 1px solid #e6e6e6;
  color: #1c1c1c;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
nav ul li .point:hover {
  background-color: #e6e6e6;
}
nav ul li .point-f {
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.3) inset;
}
nav ul li:last-child {
  border-right: 1px solid #ffffff;
}
nav a {
  color: rgba(255, 255, 255, 0.9);
}
nav a:hover {
  color: #ffffff;
}
nav .dropdown {
  position: relative;
  z-index: 10;
}
nav .dropdown:hover .list {
  display: block;
  opacity: 1;
  visibility: visible;
}
nav .dropdown:before {
  content: "";
  position: absolute;
  width: 170px;
  height: 0px;
  left: 0;
  top: 70px;
  background-color: #ffffff;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
nav .list {
  display: hidden;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 168px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  background-color: white;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.examples .work-examples {
  width: 600px;
  height: 400px;
  line-height: 400px;
  text-align: center;
  padding-bottom: 50px;
}
.examples .example-pic {
  text-align: center;
}
.examples .example-pic img {
  vertical-align: middle;
  outline: none;
  display: inline-block;
  width: 95%;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35);
  margin: 20px 0;
}
.examples .examples {
  padding: 20px 0;
}
.section-1 {
  margin-top: 50px;
}
.footer {
  background: linear-gradient(30deg, #e100ff 0%, #7f00ff 100%);
  padding: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
.footer-main-text {
  text-align: center;
}
.gradientfornav1 {
  height: 70px;
  width: 100%;
  position: absolute;
  background: linear-gradient(30deg, #e100ff 0%, #7f00ff 100%);
  -webkit-transition: all 6s;
  transition: all 6s;
  opacity: 0;
}
.gradientfornav2 {
  height: 70px;
  width: 100%;
  position: absolute;
  background: linear-gradient(210deg, #e100ff 0%, #7f00ff 100%);
  -webkit-transition: all 6s;
  transition: all 6s;
  opacity: 1;
}
.gradientfornav3 {
  height: 70px;
  width: 100%;
  position: absolute;
  background: blue;
  -webkit-transition: all 6s;
  transition: all 6s;
  opacity: 1;
}
